* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Candara";
  width: 30rem;
  margin: 0 auto;
  background: no-repeat linear-gradient(blue, purple);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
