.colorContainer {
  max-width: 700px;
  display: block;
  margin: auto;
  border: 1px solid silver;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 20px;
}

button {
  padding: 1rem 3rem;
  color: white;
  background-color: blue;
  border-radius: 8px;
  border: none;
  width: 100%;
}
